:root {
  --faux-chestnut: #914629;
  --faux-dark-sienna: #2c1814;
  --faux-deep-coffee: #684037;
  --faux-sherwin-williams-paint-gold: #d5be89;
  --faux-sherwin-williams-paint-grayish: #d1c9c6;
  --faux-sherwin-williams-paint-white: #d4dbe1;
  --faux-silver-pink: #c7adae;
}
